<div class="background">
    <div class="container">
        <div class="panel">
            <form class="form-container">

                <h1 style="color: cornflowerblue; font-size: 55px;">Assistenza</h1>

                <br><hr><br>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="name">Nome</span>
                    <input type="text" class="form-control" aria-describedby="name" >
                </div>
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="oggetto">Oggetto</span>
                    <input type="text" class="form-control" aria-describedby="oggetto" >
                </div>
    
                <div class="input-group mb-3">
                    <span class="input-group-text" id="email">@</span>
                    <input type="email" class="form-control"  aria-describedby="email">
                </div>
    
                <div class="input-group">
                    <span class="input-group-text">Descrivi la tua problematica</span>
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                <br><hr><br>
                <button class="btn btn-primary" style="font-size: 25px;">Invia</button>

            </form>
        </div>
    </div>
</div>
